{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Blog</title>

	<link rel="stylesheet" type="text/css" href="{% static 'main/css/base.css' %}">
	

</head>
<body>
    <header>
        <h1>telekinesis</h1>
    </header>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'technology' %}">Technology</a>
        <a href="{% url 'travel' %}">Travel</a>
        <a href="{% url 'food' %}">Food</a>
        <a href="{% url 'fashion' %}">Fashion</a>
    </nav>
    <main>
		{% block content %}{% endblock %}
    </main>
</body>
</html>