{% extends "base.html" %}

{% block content %}

	{% load static %}
	<link rel="stylesheet" href="{% static 'main/css/blog_category_post_list.css' %}">
    <h1 id="post-list-header">{{ category }} Blog Posts</h1>
    {% for post in posts %}
        <article class="catgegory-post">
            <h1><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h1>
            <p><strong>Created at:</strong> {{ post.created_at|date:"F d, Y" }}</p>
            <p>
                {{ post.content|truncatewords_html:50|safe }}
                <a href="{% url 'post_detail' post.id %}">Read more</a>
            </p>
            <hr>
        </article>
    {% endfor %}
{% endblock %}
