{% extends 'base.html' %}
{% block content %}
	<article>
		<header>
			<h2>Personal development blog</h2>
		</header>
		<p>
		Welcome to the blog where I cover the development projects in my personal life, 
		including projects where I develop my skills, 
		develop my ideas into reality and even just my develop my thoughts on certain topics.
		<br>
		</p>
		<p style="padding-left: 20px;">
			<em>In essence this site is the toilet bowl of my imagination, the infernal dumping ground of whatever ideas clog my head as I navigate my personal life. A place to manifest a torrent of words. <br><br>Enjoy.</em>
		</p>
		<h2>The current state of this site</h2>
		
		<p>
			Initially I will be experimenting and developing both this site, and my writing style. Every post will be tagged <em>#experimental</em> until I settle down and have a clear structure for this site and my writings.
		</p>
		
		<p>
			The initial structure of the site might change so any post going into the Photography section will be tagged #photography and "Slow transformation into vegetarian" posts will be tagged #slow-transformation-into-vegetarian, for future reference and reogranization purposes.
		</p>
		
	</article>
{% endblock %}    
